%br/
.jumbotron{'style': 'text-align:center'}
  %h3 
    %b A Influência do Comportamento Observado na Sensibilidade Comportamental
.row
  .col-md-6.col-md-offset-3{'style': 'text-align:center'}
    %h2 Relatório - Grupo #{params[:group_id]}
%hr/
.row
  .col-md-6.col-md-offset-3{'style': 'text-align:center'}
    = link_to "Grupo 1 - GCSM", show_path(group_id: 1), class: 'btn btn-lg btn-success'
    = link_to "Grupo 2 - GMR", show_path(group_id: 2), class: 'btn btn-lg btn-success'
    = link_to "Grupo 3 - GMNR", show_path(group_id: 3), class: 'btn btn-lg btn-success'
%hr/
.row
  .col-md-6
    %h4 
      %b Usuário
    %hr/
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Usuário
          %th Fase 1
          %th Fase 2
          %th Fase 3
          %th Total
          %th Ações
      %tbody
        - @choices.each_with_index do |choice, index|
          %tr
            %td.col-md-1= choice.user.id
            %td.col-md-2= Choice.point_round_1(choice)
            %td.col-md-2= Choice.point_round_2(choice)
            %td.col-md-2= Choice.point_round_3(choice)
            %td.col-md-2= Choice.point_round_1(choice) + Choice.point_round_2(choice) + Choice.point_round_3(choice)
            %td
              = link_to "detalhar",user_show_path(user_id: choice.user.id, group_id: params[:group_id])  
  .col-md-6
    %h4 
      %b Computador
    %hr/
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Usuário
          %th Fase 1
          %th Fase 2
          %th Fase 3
          %th Total
      %tbody
        - @choices.each_with_index do |choice, index|
          %tr
            %td.col-md-1= choice.user.id
            %td.col-md-2= Choice.point_cpu_round_1(choice)
            %td.col-md-2= Choice.point_cpu_round_2(choice)
            %td.col-md-2= Choice.point_cpu_round_3(choice)
            %td.col-md-2= Choice.point_cpu_round_1(choice) + Choice.point_cpu_round_2(choice) + Choice.point_cpu_round_3(choice)
